{{outlet}}

<h2>Venues</h2>
{{#each venue in model}}
<ul>
    <li>Name: {{venue.name}}</li>
    <li>FriendlyName: {{venue.friendlyName}}</li>
    <li>Id: {{venue.id}}</li>
    <li>Posts: {{venue.posts}}</li>
    <li>Image: {{venue.image}}</li>
    <li>Follows: {{venue.follows}}</li>
    <li>Created: {{venue.created}}</li>
</ul>
{{/each}}